<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wiseand computers</title>
    <link rel="icon" href="img\logo.jpg">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    
 <section id="header">
        <a href="#"> <img style="height:60px;padding: 0%;" src="img/Logo.png" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a  href="http://localhost:5501/index.html">Home</a></li>
                <li><a  href="http://localhost:5501/shop.html">Shop</a></li>
                <li><a  href="http://localhost:5501/blog.html">Blog</a></li>
                <li><a  href="http://localhost:5501/about.html">About</a></li>
                <li><a  href="http://localhost:5501/contact.html">Contact</a></li>
                <li><a href="http://localhost:3000/login">Login</a></li>
                <li id="lg-bag"><a class="active" href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>       
        </ul>
   </div>
  <div id="mobile">
   <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
       <i id="bar" class="fa-solid fa-bars"></i>    
               </div>
</section>

<!-- <section id="page-header" class="about-header">
        <h2>#Let's talk</h2>
        <p> LEAVE A MESSAGE, We love to hear from you!</p>
    </section>  -->
<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
        <tr>
            <td>Remove</td>
            <td>Image</td>
            <td>Product</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Subtotal</td>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                <td><img src="img\Apple.jpg" alt="  "></td>
                <td>Apple 2023 MacBook Pro Laptop</td>
                <td>&#8377 1,99,900</td>
                <td><input type="number" value="1"> </td>
                <td>&#8377 1,99,900</td>
            </tr>
            <tr>
                <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                <td><img src="img\S.jpg" alt="  "></td>
                <td>Samsung Galaxy Book3 Pro 360</td>
                <td>&#8377 1,79,990</td>
                <td><input type="number" value="1"> </td>
                <td>&#8377 1,79,990</td>
            </tr>
            <tr>
                <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                <td><img src="img\1.jpg" alt="  "></td>
                <td>Dell Inspiron 15</td>
                <td>&#8377 53,990</td>
                <td><input type="number" value="1"> </td>
                <td>&#8377 53,990</td>
            </tr>
        </tbody>
    </table>
</section>
<section id="cart-add" class="section-p1">
    <div id="coupon">
        <h3>Apply coupon</h3>
        <div>
            <input type="text" placeholder="Enter Your coupon">
            <button class="normal">Apply</button>
        </div>
    </div>
    <div id="subtotal">
        <h3>Cart Totals</h3>
        <table>
            <tr>
                <td>Cart Subtotal</td>
                <td>&#8377 433880</td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td>free</td>
             </tr>
             <tr>
                <td><strong>Total</strong></td>
                <td><strong>&#8377 433880</strong></td>
             </tr>
        </table>
        <button class="normal">Proceed to checkout</button>
    </div>
</section>
<footer class="section-p1">
    <div class="col">
        <!-- <img class="logo" src="\img\Logo.png" alt=""> -->
        <h4>Contact</h4>
        <p><strong>Address:</strong>Ramanagara-562159</p>
        <p><strong>Phone:</strong>+91 6364296619</p>
        <p><strong>Hours:</strong>24hrs</p>
        <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
                <a href="https://www.facebook.com/login/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="col">
        <h4>About</h4>
        <a href="/about.html">About us</a>
        <a href="/Delivery.html">Delivery Information</a>
        <a href="/Policy.html">Privacy Policy</a>
        <a href="/Policy.html">Terms & Conditions</a>
        <a href="/contact.html">Contact us</a>
    </div>
    <div class="col">
        <h4>My Account</h4>
        <a href="/login.html">Sign In</a>
                <a href="http://localhost:3000/login">View Cart</a>
                <a href="http://localhost:3000/login">My Wishlist</a>
                <a href="/Delivery.html">Track My Order</a>
                <a href="/contact.html">Help</a>>
    </div>
    <div class="install">
    <h4>Secured Payment Gateways</h4>
    <img src="\img\pytm.jpg" alt="">
    </div>
    
    <div class="copyright">
        <p>©2023-2033 wiseandcomputers.com</p>
    </div>
    </footer>
<script src="script.js"></script>
<script src="https://kit.fontawesome.com/aa0262dd93.js" crossorigin="anonymous"></script>

</body>
</html>